@font-face {
    font-family: 'Formular';
    src: url('/fonts/Formular-Bold.eot');
    src: url('/fonts/Formular-Bold.eot?#iefix') format('embedded-opentype'),
        url('/fonts/Formular-Bold.woff2') format('woff2'),
        url('/fonts/Formular-Bold.woff') format('woff'),
        url('/fonts/Formular-Bold.ttf') format('truetype'),
        url('/fonts/Formular-Bold.svg#Formular-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PT Root UI';
    src: url('/fonts/PTRootUI-Medium.eot');
    src: url('/fonts/PTRootUI-Medium.eot?#iefix') format('embedded-opentype'),
        url('/fonts/PTRootUI-Medium.woff2') format('woff2'),
        url('/fonts/PTRootUI-Medium.woff') format('woff'),
        url('/fonts/PTRootUI-Medium.ttf') format('truetype'),
        url('/fonts/PTRootUI-Medium.svg#PTRootUI-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PT Root UI';
    src: url('/fonts/PTRootUI-Regular.eot');
    src: url('/fonts/PTRootUI-Regular.eot?#iefix') format('embedded-opentype'),
        url('/fonts/PTRootUI-Regular.woff2') format('woff2'),
        url('/fonts/PTRootUI-Regular.woff') format('woff'),
        url('/fonts/PTRootUI-Regular.ttf') format('truetype'),
        url('/fonts/PTRootUI-Regular.svg#PTRootUI-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PT Root UI';
    src: url('/fonts/PTRootUI-Bold.eot');
    src: url('/fonts/PTRootUI-Bold.eot?#iefix') format('embedded-opentype'),
        url('/fonts/PTRootUI-Bold.woff2') format('woff2'),
        url('/fonts/PTRootUI-Bold.woff') format('woff'),
        url('/fonts/PTRootUI-Bold.ttf') format('truetype'),
        url('/fonts/PTRootUI-Bold.svg#PTRootUI-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PT Root UI';
    src: url('/fonts/PTRootUI-Light.eot');
    src: url('/fonts/PTRootUI-Light.eot?#iefix') format('embedded-opentype'),
        url('/fonts/PTRootUI-Light.woff2') format('woff2'),
        url('/fonts/PTRootUI-Light.woff') format('woff'),
        url('/fonts/PTRootUI-Light.ttf') format('truetype'),
        url('/fonts/PTRootUI-Light.svg#PTRootUI-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Xolonium';
    src: url('/fonts/Xolonium.eot');
    src: url('/fonts/Xolonium.eot?#iefix') format('embedded-opentype'),
        url('/fonts/Xolonium.woff2') format('woff2'),
        url('/fonts/Xolonium.woff') format('woff'),
        url('/fonts/Xolonium.ttf') format('truetype'),
        url('/fonts/Xolonium.svg#Xolonium') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

