@media screen and (max-width: 1500px)
   .delivery .back__content
      margin-right: 30px
@media screen and (max-width: 1300px)
   .why__right .why__item:nth-child(2)
      left: 50px
   .why__item img
      margin-left: 15px
   .why__right .why__item img
      margin-right: 15px
   .why__right, .why__left 
      width: 42%
   .why__text br, .why__fig 
      display: none
   .why__left .why__item:nth-child(2)
      left: -25px
   .why__right .why__item:nth-child(2)
      left: 24px
   .map__white2, .map__white1 
      width: 17%
   .how__item
      width: 23%
   .cont__info
      padding: 60px
   .cont__wrap
      padding: 60px
   .footer__left
      margin-right: 45px
   .footer__uls
      margin-right: 60px
   .back__content
      max-width: 620px
@media screen and (max-width: 1199px)
   .menu-btn 
      width: 23px
      height: 28px
      position: absolute
      left: 0
      top: 6px
      z-index: 11
      overflow: hidden
      display: flex
      flex: 1 0 auto 
      max-width: 40px
      cursor: pointer
   .menu-btn span 
      width: 23px
      height: 2px
      position: absolute
      top: 50%
      left: 34%
      transform: translate(-50%, -50%)
      background-color: #121212
      transition: all 0.5s
      margin-right: 0px
   .menu-btn span:nth-of-type(2) 
      top: calc(50% - 6.5px)
      width: 23px
      height: 2px
      margin-left: 0px
      margin-right: 0
   .menu-btn span:nth-of-type(3) 
      top: calc(50% + 6.4px)
      width: 23px
      height: 2px
      margin-left: 0
      margin-right: 0
   .menu 
      position: fixed
      top: 0
      left: 0
      width: 100%
      height: 100%
      padding: 34px 20px 
      background: white
      transform: translateX(-100%)
      transition: transform 0.5s
      z-index: 10
      overflow: hidden
      .nav__flex, .nav__text
         display: flex
      .nav__list
         display: block
         margin-top: 80px
         margin-left: 25px
         margin: 80px 0px 80px 25px
         li 
            margin-bottom: 15px
      .nav__text
         margin-bottom: 15px
   .menu.active
      transform: translateX(0)
   .menu-btn.active 
      overflow: visible
      position: fixed
      top: 30px
      right: 4%
      left: inherit 
   .menu-btn.active span:nth-of-type(1) 
      display: none
   .menu-btn.active span:nth-of-type(2) 
      top: 50%
      width: 23px
      transform: translate(-50%, 0%) rotate(45deg)
      margin-left: 0
   .menu-btn.active span:nth-of-type(3) 
      width: 23px
      top: 50%
      transform: translate(-50%, 0%) rotate(-44deg)
      margin-left: 0
   .menu-btn, .menu
      display: block
   .nav__list, .header__fig1, .header__fig2, .header__fig3, .nav__flex, .nav__text, .why__pic, .why__box, .map__white2, .map__white1
      display: none
   .nav__bottom 
      position: relative
      margin-top: 14px
      padding-left: 40px
   .nav__info
      margin-left: auto
   .nav__right 
      width: 100%
   .nav__list li:first-child
      position: relative
      left: -23px
   .header__box
      margin-top: 53px
      flex-direction: column
   .header__pic
      margin-top: 40px
      width: 100%
   .pop .swiper2
      margin-top: 40px
   .pop-arr
      top: 0.8%
   .pop .swiper-button-next2
      right: 0
   .pop .swiper-button-prev2
      right: 45px
      left: inherit
   .pop .swiper2
      overflow: visible
   .swiper3 
      display: block
      overflow: hidden
      margin-top: 50px
   .why__item
      flex-direction: column-reverse
      align-items: center
      text-align: center 
      left: 0 !important
      right: 0 !important
      top: 0 !important
      bottom: 0 !important
   .why__item img
      margin-left: 0 
      margin-bottom: 20px
   .why 
      padding-bottom: 50px
      .container
         position: relative
      .pop-arr
         top: 45.8%
      .swiper-button-next3
         left: inherit
         right: 0
      .swiper-button-prev3
         left: 0
         transform: rotate(180deg)
   .how__box
      flex-wrap: wrap 
      margin-top: 50px
   .how__item
      width: 50%
      margin-bottom: 50px
   .sub
      margin-top: 15px
   .cont__box
      flex-direction: column
   .cont__info
      max-width: 100% 
      margin-bottom: 23px
   .cont__wrap
      max-width: 100%
   .cont 
      padding: 10px 0 50px
   .footer__uls, .footer__title, .footer__right:after
      display: none
   .news__item
      flex-direction: column-reverse
      align-items: center
   .news__pic 
      width: 525px
      margin-bottom: 30px
   .news__text
      margin-bottom: 20px
   .back__content
      max-width: 100% 
      margin-right: 0
      margin-bottom: 40px
   .back__box
      margin-top: 30px 
      flex-direction: column
   .back__wrap
      max-width: 100%
   .delivery .back__box
      flex-direction: column-reverse
   .delivery__pic
      width: 100%
      margin-bottom: 40px
   .delivery .back__content
      margin-right: 0
      max-width: 100%
   .delivery .back__box h1
      margin-bottom: 30px
@media ( max-width: 991px )
   input, textarea, select
      -webkit-appearance: none
      -moz-appearance: none
      appearance: none
   input 
      border-radius: 0 !important
   .map #map
      height: 330px
   .map h2
      margin-bottom: 50px
   .how
      padding: 60px 0
   .footer__box
      flex-direction: column
      align-items: center
      position: relative
   .footer__left
      margin-right: 0
   .footer__socials 
      margin-top: 0px
      position: absolute
      bottom: 6px
      left: 0
   .footer__bottom
      flex-direction: column 
      text-align: center
   .footer__bottom p
      font-size: 14px
      margin-bottom: 16px
   .footer__tel
      margin: 40px 0
   .footer
      padding-top: 50px
@media screen and (max-width: 767px)
   .pop__pic
      width: 80%
   .how__item
      width: 100%
      &:last-child
         margin-bottom: 0
   .cont__info, .cont__wrap
      padding: 40px 30px
   .cont__title
      margin-bottom: 30px
   .page 
      h1 
         line-height: 43px
         font-size: 43px
   .rev__item
      flex-direction: column
      align-items: center
   .rev__ava
      margin-top: 0
      margin-bottom: 30px
      margin-right: 0
   .rev__load
      margin-top: 40px
@media screen and (max-width: 576px)
   button:active, button:focus 
      outline: none
   button::-moz-focus-inner 
      border: 0
   a:active, a:focus
      outline: none
   input, textarea
      outline: none
   input:active, textarea:active
      outline: none
   input:focusout
      outline: none
   .mob 
      display: block
   .nav__tel
      font-size: 17px
      margin-right: 14px
   .nav__personal p
      display: none
   .nav__personal img
      margin-right: 0
   .nav__link
      width: 32px
      height: 32px
      img 
         width: 50%
   .nav__logo 
      width: 140px
   .nav__call
      width: 136px
      height: 35px
      font-size: 12px
   .nav__bottom
      padding-left: 35px
   .container
      padding: 0 20px
   .menu-btn
      top: 4px
   h1 
      font-size: 28px !important
      line-height: 35px !important
      max-width: 270px
   .header__box
      margin-top: 40px
   .header__content p 
      margin: 16px 0 30px
      font-size: 14px
      line-height: 24px
   .header__row
      justify-content: space-between
      a 
         width: 48%
   .header__btn
      margin-right: 0
   .header__pic 
      margin-top: 40px
      width: 450px
      position: relative
      left: 50%
      margin-left: -225px
   h2
      font-size: 28px
   .pop .swiper-button-next2
      right: 20px
   .pop .swiper-button-prev2
      right: 65px
   .pop
      padding-bottom: 60px
   .sub
      font-size: 14px
   .why .swiper-button-next3
      right: 20px
   .why .swiper-button-prev3
      left: 20px
   .map h2
      margin-bottom: 30px
   .cont__flex
      flex-direction: column 
      align-items: flex-start
   .cont__btn
      margin-top: 25px
      width: 100%
   .footer__left
      img 
         width: 154px
   .footer__link
      img 
         width: auto
   .why .pop-arr
      top: 47.8%
   .news__box
      margin-top: 60px
   .news__pic
      width: 100%
      height: 200px
      margin-bottom: 25px
   .news__name 
      font-size: 22px
      line-height: 30px
      margin-bottom: 15px
   .news__text
      font-size: 14px
   .news__item
      margin-bottom: 64px
   .news__item:before
      top: -35px
   .page .header
      padding-bottom: 40px
   .news__item:last-child:after
      bottom: -35px
   .news__btn
      margin-top: 100px
   .news__list li
      margin-right: 30px
   .back__text
      font-size: 14px
      margin-bottom: 20px
   .back__name
      margin-bottom: 20px
      font-size: 21px
      line-height: 120%
   .back__sub
      font-size: 16px
      margin-bottom: 15px
   .back__content
      margin-bottom: 25px
   .back__wrap
      padding: 30px 20px
      .back__name
         margin-bottom: 40px
   .chous p
      font-size: 14px
      margin-left: 12px
   .news
      padding-bottom: 80px
   .back__wrap input, .back__wrap textarea
      font-size: 14px
   .delivery__pic
      margin-bottom: 25px
   .delivery .back__box
      margin-top: 30px
   .rev__top
      flex-direction: column 
      align-items: center
   .rev__btn
      margin: 40px auto 0
      width: 100%
   .rev 
      h1 
         align-self: start
   .rev__info
      flex-direction: column
   .rev__name
      margin-right: 0
      margin-bottom: 5px
   .rev__time
      margin-right: 0
      margin-bottom: 5px
   .rev__text
      font-size: 14px
   .rev__load
      width: 100%


